* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    max-width: 100%;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    max-width: 100%;
    padding: 0 20px;
    background-color: #ffffff;
}

.navbar-container a {
    text-decoration: none;
    color: rgb(55, 56, 82);
    font-size: 22px;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
}

.nav-menu a {
    text-decoration: none;
    color: rgb(55, 56, 82);
    font-size: 15px;
    padding-bottom: 15px;
}

.nav-menu a:hover {
    color: rgba(132, 41, 41, 0.788);
    border-bottom: 2px solid brown;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.5s ease-in-out;
    background-color: rgb(55, 56, 82);
}

@media (max-width: 768px) {

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        right: 100%;
        top: 50px;
        width: 50%;
        background-color: #ffffff;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        gap: 10px;
        transition: 0.3s ease-in-out;
    }

    .nav-menu.active {
        right: 0;
    }

    .nav-item {
        margin: 8px 0;
    }
}


.banner {
    max-width: 100%;
    background-image: url('../images/banner_header.jpg');
    background-size: cover;
    height: 500px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}


.banner__btn {
    text-align: center;
    display: inline-block;
    background-color: #9b6464;
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 4px;
}

/* widgets */
.widget {
    padding: 0 50px;
}

.widget__cards {
    display: flex;
    flex-direction: column;
    margin-top: -48px;
    max-width: 100%;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.widget__card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.widget__card p {
    color: rgb(80, 91, 92);
    line-height: 1.6;
    padding: 10px 20px;
    text-align: justify;
}

.widget__card a {
    border: 0.1px solid #9b6464;
    text-decoration: none;
    color: rgb(80, 91, 92);
    font-size: 13px;
    padding: 6px 10px;
    transition: 0.3s;
}

.widget__card a:hover {
    background-color: #9b6464;
    color: white;
}

.widget__card img {
    width: 100%;
    height: 200px;
}

.widget__card h5 {
    font-size: 16px;
    background-color: #9b6464;
    width: 100%;
    color: white;
    padding: 15px 10px;
    text-align: center;
}

.widget__card__head {
    width: 100%;
}


@media (min-width: 768px) {
    .widget__cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .widget__card {
        width: calc((100% - 20px) / 2);
    }
}

@media (min-width: 1200px) {
    .widget__card {
        width: calc((100% - 40px) / 3);
    }
}


/* About */

.about {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 50px;
    justify-content: center;
    text-align: center;

}

.about__right img {
    height: 350px;
    width: 100%;
}

.about__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.about__left-bttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.about__left p,
.about__left h1 {
    opacity: 0.9;
    color: rgb(47, 51, 52)
}

.about__left-bttons a {
    text-decoration: none;
    color: rgb(80, 91, 92);
    border: 0.1px solid rgb(86, 82, 82);
    padding: 8px 20px;
}

.about__left-bttons a:first-child {
    background-color: #9b6464;
    color: white;
    font-size: 14px;
}

@media (min-width: 768px) {

    .about__right,
    .about__left {
        width: 100%;
    }

    .about__left-bttons {
        display: flex;
        justify-content: center;
    }


}

@media (min-width: 1200px) {
    .about {
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
    }

    .about__left,
    .about__right {
        width: 100%;
    }

}


/* Menus */

.menu {
    margin-top: 40px;
    padding: 50px;
    text-align: center;
}

.menu__heading {
    margin-bottom: 50px;
    color: #0a1e46;
}

.menu__items {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    list-style-type: none;
}

.menu__item {
    position: relative;
    margin-bottom: 20px;
    height: 180px;
    border-radius: 6px;
    cursor: pointer;
}

.menu__item img {
    width: 100%;
    height: 100%;
}

li.menu__item h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(111, 111, 121, 0.874);
    font-weight: bold;
    font-size: 20px;
    z-index: 10;
}

.menu__item.no-image {
    background: white;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__item.no-image h2 {
    color: #0b2340;
    text-shadow: none;
}


@media (min-width: 768px) {

    .menu__items {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

    }

    .menu__item {
        width: calc((100% - 20px) / 2);
    }
}

@media (min-width: 1200px) {

    .menu__item {
        width: calc((100% - 60px) / 4);
    }
}



/* Events */

.event {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    width: 100%;
}

.events h1 {
    text-align: center;
    margin-bottom: 10px;
}

.events {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;
    width: 100%;
    padding: 50px;
}

.event__left h2 {
    color: #0E244A;
}

.event__left p {
    color: #546079;
}

.event__left {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.event__left h3 {
    color: rgb(199, 117, 88);
}

.event__view a {
    text-decoration: none;
    color: rgb(80, 72, 72);
    border: 1px solid rgb(80, 72, 72);
    padding: 5px 10px;
}

.event__view a:hover {
    background-color: rgb(199, 117, 88);
    color: white;
}

.event__view p {
    font-weight: bold;
}

.event__right img {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
}

.event__view {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


@media (min-width: 768px) {
    .event {
        flex-direction: row;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
    }

    .event__view {
        flex-direction: row;
    }

    .event__left {
        text-align: left;
    }

    .event--reverse {
        flex-direction: row-reverse;
    }
}


/* News */
.recent-news {
    padding: 20px 80px;
    background: #ffffff;
    color: #0E244A;
    text-align: center;
}

.news-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
}

.news-card img {
    width: 100%;
    height: 250px;
    border-radius: 4px;
}

.news-heading {
    margin: 10px 0;
    font-size: 20px;
    color: #0E244A;
}

.news-text {
    font-size: 15px;
    color: #546079;
    line-height: 1.6;
    margin-bottom: 20px;
}

.news-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.news-date {
    font-size: 14px;
    color: #6C7A91;
}

.news-btn {
    border: 1px solid #AEB9CF;
    padding: 8px 18px;
    text-decoration: none;
    font-size: 13px;
    color: #0E244A;
}

.news-btn:hover {
    background: #0E244A;
    color: #ffffff;
}

.news-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 768px) {
    .news-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .news-card {
        width: calc((100% - 20px) / 2);
    }
}

@media (min-width: 1200px) {

    .news-card {
        width: calc((100% - 40px) / 3);
    }
}

/* Footer */

.footer-container {
    padding: 50px;
    background-color: #0E244A;
    color: white;
}

.footer__imgage {
    background-image: url('../images/table.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.81);
    padding: 20px;
    margin-bottom: 40px;
}


.footer__imgage a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 8px 15px;
}

.footer__imgage a:hover {
    background-color: white;
    color: #0E244A;
}

.footer__work-hrs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__work-hrs h2 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 0.6px solid;
    color: rgba(255, 255, 255, 0.81)
}

.footer__work-hrs p {
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.81);
}

.hours li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.81);

}

.hours {
    margin-bottom: 40px;
}

.footer__about-us p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.footer__about-us h2 {
    text-align: center;
    margin-bottom: 15px;
}

.footer__about-us {
    color: rgba(255, 255, 255, 0.81);


}

.footer__about-us h2 {
    padding-bottom: 10px;
    border-bottom: 0.6px solid;

}

.footer__about-us {
    text-align: center;
}

.footer__about-us .btn-about-us,
.book {
    border: 1px solid white;
    color: rgba(255, 255, 255, 0.81);
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 13px;
}

.btn-about-us:hover {
    background-color: white;
    color: #0E244A;
}

.footer-links {
    background: #0a1b37;
    padding: 40px 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.81);
}

.footer-links__social-media a {
    border: 1px solid;
    border-radius: 50%;
    padding: 8px;

}

.fa-brands {
    font-size: 14px;
}

.footer-links__social-media {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-bottom: 25px;
}

.footer-links__social-media .social-media {
    color: rgba(255, 255, 255, 0.81);
    font-size: 20px;
}

.footer-links__social-media .social-media:hover {
    color: #FFD74A;
}

.site-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 10px;

}

.site-links a {
    color: rgba(255, 255, 255, 0.81);
    text-decoration: none;
    font-size: 14px;
}

.site-links a:hover {
    color: #FFD74A;
}

.footer-copyrights p {
    margin: 5px 0;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.81);
}

@media (min-width: 768px) {
    .footer-container {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .footer__item {
        width: calc((100% - 30px) / 2);
        height: auto;
    }

}

@media (min-width: 1200px) {
    .footer__item {
        width: calc((100% - 60px) / 3);
        height: auto;
    }

    .site-links {
        flex-direction: row;

    }
}